@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
html, body, #story {
  font-family: 'Vollkorn', serif;
  font-size: 110%;
}

.qbn-card {
	border: thin solid #333;
	margin: 0.25em;
	padding: 0.25em;
}

.qbn-column { display: flex; flex-direction: column; }
.qbn-row { display: flex; flex-direction: row; }
