.note { background: #221; color: #888; }

.statBar {
	width: 20em;
	background: #fb5;
	color: #111;
	font-weight: bold;
	margin: 0.5ex auto;
	position: relative;
}

.statBar div { position: relative; z-index: 1; }

.statBar .statBg {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #1a5;
	z-index: 0;
}
